#home{
    background-image:url(../img/image2.jpeg); 
    background-size: cover;
    background-repeat: no-repeat;
   height: 600px;
    color:white;
}
#gallery{
        background-color: black;
        color: white;
}
#contact{
 background-color: black;
  color: white;
  margin: 25px;
  font-family: 'Text Me One', sans-serif;
}
nav>ul>li>a{
    padding:18px;
    
    text-transform:uppercase;
    text-decoration:none;
    display:block;
    color: wheat;
  }
  nav>ul {
    text-align:right;
  }
  ul>li {
    display:inline-block;
  } 
  li a:hover{
      color: coral;
  }
  h1{
      text-align: center;
      margin-top: 210px;
      color: yellow;
      font-family: 'Berkshire Swash', cursive;
      font-size: 45px;
      
  } 
  
  .order-page{
      background-color: blueviolet;
  }
  #one{
    
    color: chocolate;
    padding-top: 25px;
    text-align: center;
    animation: bounce 3s infinite;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
    50% {
      transform: translateY(-50px);
    }
  }
  .form-control::-webkit-input-placeholder{
    color:green;
}
#name,#anyemail,#textarea{
    margin-left: 15px;
    margin-bottom: 15px;
}
#textarea{
    width: 750px;

}
input[type="text"],input[type="email"],#textarea,input[type="submit"],button{
  background-color: transparent;
  color: white;
  text-align: center;
}
  button{
    margin-top: 30px;
    margin-left: 325px;
   border-radius: 10px;
  }
  #column1{
    margin-left: 250px;
  }
  footer{
  text-align: center;
  margin-top: 40px;
  }