#home{
    background-image:url(../img/image2.jpeg); 
    background-size: cover;
    background-repeat: no-repeat;
   
    color:white;
}
#gallery{
        background-color: black;
        color: white;
}
nav>ul>li>a{
    padding:18px;
    
    text-transform:uppercase;
    text-decoration:none;
    display:block;
    color: wheat;
  }
  nav>ul {
    text-align:right;
  }
  ul>li {
    display:inline-block;
  } 
  li a:hover{
      color: coral;
  }
  h1{
      text-align: center;
      margin-top: 210px;
      color: yellow;
      font-family: 'Berkshire Swash', cursive;
      font-size: 45px;
      
  } 
  
  .order-page{
      background-color: blueviolet;
  }